

/* All file CSS */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: 0;

}

/* Heading */
#head{
    background-image: url("/images/background.jpg");
}

#navbar{
    position: fixed; /* Make it stick/fixed */
    top: -50px; /* Hide the navbar 50 px outside of the top view */
    width: 100%;
    background-color: white; /* Full width */
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
    z-index: 10;
    
}

.text{
    text-align: center;
    font-size: 1rem;
}

a{
    text-decoration: none;
}



/* About */
.flex-container{
    display: flex;
    padding: 0 7%;
    margin-top: 6rem;
    background-color: white;
}


.flex-container .flex-items .flex-img{
    height:350px;
    width:350px;
    background: url("/images/Rabbithole-Typography.svg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#flow{
    position: relative;
    animation-name: vertical;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes vertical {
    0%{
        
        transform: translateY(0px);
    }
    50%{
        
        transform: translateY(25px);
    }
    100%{
        
        transform: translateY(0px);
    }
}



/* Skills */
.flex-container .flex-items h3{
    color: #333333;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2.5rem;
    padding-left: 20px;

}

.flex-container .flex-items h3 span{
    color: #0586ca;
}
.flex-container .flex-items p{
    font-family: 'Manrope',sans-serif;
    color: #383933;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px!important;
    margin: 20px;
    padding-right:25px
}

/* Horizontal Line */
.line{
     border-top: 1px dotted #f4f4f4;
     margin: 0 10%;
}

/* Skills */
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill .skill-heading h2{
    color: #333333;
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
}


.skill .skill-container{
    display:flex;  
}

.skill .skill-container .single-skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.single-skill img{
    width: 18vh;
    padding-right: 2rem;
}
.single-skill-text{
    font-size: 16px;
    width:70%;
    font-family: manrope, sans-serif;
}

.single-skill-text p a{
    color:#0586ca;
    text-decoration: underline;
}

.single-skill-text p a:hover{
    color:#01a6ff;
    
}

.single-skill-text h2{
    font-size: larger;
    font-weight: bold;
    color: #333333;
    font-family: 'Ibarra Real Nova', serif;

}


/* Portfolio Section */
#portfolio{
    background-image: url("/images/background.jpg");
}

#portfolio h2{
    font-family: 'Ibarra Real Nova',serif;
}

#portfolio .portfolio-sub-heading{
    font-family: 'Manrope',sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 23px;
}

#portfolio p{
    font-size: 12px;
    font-family: manrope, sans-serif;
    text-align: center;
}

#portfolio span{
    background-color: #F5F3F0;
    font-weight: 400;
    font-size: 0.75rem;
    color: #333;
}
#portfolio h5{
    font-family: 'Ibarra Real Nova',serif;
    font-weight: 500;
    color: #333;
}

/* Contact Section */
#contact-box{
    background-color: #383933;
    line-height: 20px;  
}

#contact-text p{
    font-family: 'Manrope',sans-serif;
    max-width: 80%;   
}

#footer{
    background-color: #383933;

}
.mail-feature img{
    width: 110px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

#key-link{
    transition: transform;
}
#key-link:hover img{
 transform: rotate(-10deg);
}

/* Media Queries */
@media(max-width:980px){
    #navbar{
        display: none;
    }

    #about{
        display: flex;
        flex-direction: column-reverse;
    }

    .skill .skill-container{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        
    }

    .skill .skill-container .single-skill{
        padding-bottom: 1rem;
    }


}